body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

form div {
    grid-column: span 2;
}

span {
    margin-right: 50px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="number"], input[type="date"], input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"], .btnf {
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2;
}

input[type="submit"]:hover, .btnf:hover {
    background-color: #0056b3;
}

#search {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#search label {
    display: block;
    margin-bottom: 5px;
}

#search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

#results {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.medical-file {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;
}

.medical-file h3 {
    margin-top: 0;
    color: #333;
}

.medical-file ul {
    list-style-type: none;
    padding: 0;
}

.medical-file li {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}